@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  transition: background-color .3s,color .3s;
}

body{
  font-family: Inter,system-ui,sans-serif;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#9ca3af;
  border-radius:20px;
}